.container-box {
  background: #645cbb;
}

.upload {
  font-size: 14px;
  font-weight: 600;
}

.image {
  max-width: 480px;
  max-height: 500px;
  transition: ease-in-out 1s;
}

.image:hover {
  max-width: 550px;
  max-height: 550px;
  transition: ease-in-out 1s;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: row;
  width: 70%;
}

.App.active {
  justify-content: space-between;
}

.numb {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  color: #fff;
}
.numt {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  color: #fff;
}

.see-result {
  display: flex;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}

* {
  margin: 0;
}

.numbers {
  gap: 16px;
  align-items: center;
}

.input-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.input-img input {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
